.Dashboard{
    overflow: auto;
    height: 100vh;
     position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width:200px;

}


.scope-span-style{
    display:inline-block;
    width:50%
}
.scope-span-color{
    color: #0000008c;
}

